body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1, h2,  h5{
    color: #333;
    margin-top: 5px;
}
.mainDiv{
    display: flex;
    flex-direction: row;
}

.firstDiv{
    display: flex;
    flex-direction: column;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 90%;
    max-width: 370px;
}

.input-currency {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #218838;
    transition: background 0.3s;
}

#market-watch {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
    max-width: 450px;
}

#rates-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#rates-table th, #rates-table tr {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

thead{
    background-color: #28a745;
    color: white;
}

#search-rate {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tracker-table{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
    max-width: 370px;
}

h5{
    margin: -15px 0 0 0;
}

#boxAlert{
    width: 350px;
    background-color: #ececec;
    border-color: #ff0000;
}

#buttonAlert{
    width: 150px;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

#alertForm{
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
}